@font-face {
	font-family: 'CircularStd Medium'; 
	src: url(/fonts/CircularStd-Medium.ttf); 
}
@font-face {
	font-family: 'CircularStd Book'; 
	src: url(/fonts/CircularStd-Book.ttf); 
}
@font-face {
	font-family: 'CircularStd Black'; 
	src: url(/fonts/CircularStd-Black.ttf); 
}
@font-face {
	font-family: 'CircularStd Bold'; 
	src: url(/fonts/CircularStd-Bold.ttf); 
}


body{
    background-image: url("../images/hero_banner/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons{
    display: flex;
}
.test{
    display: flex;
}
.play{
    height: 10px;
    width: 10px;
    background-color: red;
}
@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-collapse {
        padding-left: 25% !important;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
        padding-left: 20%;
    }
}
